a {color:blue}
a:link{color:inherit}
a:active{color:inherit}
a:visited{color:inherit}
a:hover{color:inherit}

table.summary th {
    text-align: center;
}

table.summary td {
    text-align: left;
    padding: 5px;
}

table.results_time {
    float: left;
    max-width: 500px;
}

table.results {
	float: left;
	max-width: 300px;
}

table.results_output {
    float: left;
    max-width: 700px;
}

table.runs {
	float: left;
	max-width: 900px;
}

table.results {
	float: left;
	max-width: 900px;
}

th {
	height: 50px;
}

table.runs th, td {
	padding: 15px;
	text-align: left;
}

table.results th, td {
	padding: 5px;
	text-align: left;
}

td.passing {
	background-color: #4CAF50;
	color: white;
}

td.failing {
	background-color: Tomato;
	color: white;
}

th.runs {
	background-color: Pink;
	color: black;
}
